.trigger-menu{
	width: 90%;
	height: 40px;
	margin: auto;
	background:#898F2A;
	text-align:center;
	display:none;
	color:white;
	cursor: pointer;
	line-height: 40px;
			font-weight: bold;
			letter-spacing: 2px;
}